[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=compton
Comment=compton
Exec=compton --unredir-if-possible --no-fading-openclose --shadow-exclude fullscreen --focus-exclude fullscreen --dbus --glx-swap-method 3 --xrender-sync-fence
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

