[Desktop Entry]
Version=1.1
Type=Application
Name=Навигатор Avahi по серверам VNC
Comment=Просмотр списка се
Icon=network-wired
Exec=/usr/bin/bvnc
Actions=
Categories=GNOME;System;
