[Desktop Entry]
Version=1.1
Type=Application
Name=Ex Falso
GenericName=Редактор тегов аудиофайлов
NoDisplay=true
Comment=Программа для редактиров
Icon=exfalso
Exec=exfalso
Actions=
Categories=Audio;AudioVideo;AudioVideoEditing;GTK;
StartupNotify=true
