[Desktop Entry]
Version=1.1
Type=Application
Name=Почтовая программа
NoDisplay=true
Comment=Читать электр
Icon=emblem-mail
OnlyShowIn=XFCE;
Exec=exo-open --launch MailReader %u
Actions=
Categories=Network;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
