[Desktop Entry]
Name[ru]=Диски
Name=Disks
Comment[ru]=Управление дисками и носителями
Comment=Manage Drives and Media
Keywords[ru]=диск;привод;том;жесткий;hdd;cdrom;dvd;раздел;iso;образ;резервное;копирование;восстановление;тест;производительность;raid;шифрование;S.M.A.R.T.;smart;
Keywords=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Exec=gnome-disks
Icon[ru]=gnome-disks
Icon=gnome-disks
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;X-GNOME-Utilities;
DBusActivatable=true
