[Desktop Entry]
Version=1.1
Type=Application
Name=Запустить приложение...
NoDisplay=true
Comment=Запуск пр
Icon=system-run
OnlyShowIn=XFCE;
Exec=xfce4-appfinder --collapsed
Actions=
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
